<section class="admin-dashboard">
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="dashboard-stats">
    <div class="stat">
      <h2><%= @product_count %></h2>
      <p>Total Products - <%= link_to "See List", admin_products_path %></p>
    </div>

    <div class="stat">
      <h2><%= @category_count %></h2>
      <p>Total Categories</p>
    </div>
  </div>
</section>
