<section class="about-us">
  <h1>About Us</h1>
  <p>Welcome to Jungle, the best e-commerce store in the world! We strive to provide our customers with top-notch products. Our mission is to make shopping online as seamless and enjoyable as possible.</p>
</section>
